* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 0px;
    text-align: center;
}

header {
    height: auto;
    margin-top: 0px;
}

.logo {
    display: inline-block;
}
.new-search {
    position: absolute;
    z-index: 1;
    height: 50px;
    width: 100%;
    background: white;
    opacity: .8;
    margin: 0 auto;
    padding-top: 5px;
    border-bottom: 3px solid gray;
}

.new-search-button {
    height: 90%;
    border: 3px solid gray;
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding-top: 47px;
}

/*
.map-container {

    z-index: 0;
    height: 100%;
    width: 100%;
}*/

#map {
    padding-top: 47px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border: 3px solid gray;
}

.search-section {
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 300px;
    /*margin: 60px auto 0;*/
    /*margin: 111px auto 0;*/
    margin: 108px auto 0;
    padding: 10px;
    background: gray;
    color: white;
    height: auto;
    opacity: .8;
}

.js-search-form {
    margin: 30px;
}

.js-city {
    margin-top: 3px;
}

.search-button {
    margin: 10px;
}

.search-button:hover,
.new-search-button:hover {
    box-shadow: 2px 2px 5px black;
}

.search-button:active,
.new-search-button:active {
    transform: translateY(1px);
}

.js-search-results {
    position: relative;
    display: inline-block;
    /*margin-top: 47px;*/
    z-index: 1;
    height: 100%;
    color: black;
    background: white;
    opacity: .8;
    border: 3px solid gray;
    width: 30%;
    overflow: auto;
    float: right;
}

.js-search-results li {
    padding: 10px 0;
    border-bottom: 2px gray solid;
    list-style: none;
    /*overflow: auto;*/
}

.list-left {
    float: left;
    width: 20%;
    height: 100%;
}

.list-left img {
    width: 100%;
    padding: 3px;
    border: 1px #ccc solid;
}

.list-right {
    float: right;
    width: 78%;
    padding: 3px;
}

.hide {
    display: none;
}

.gm-style .gm-style-mtc label,
.gm-style .gm-style-mtc div {
    font-weight: 400
}

.gm-style .gm-style-cc span,
.gm-style .gm-style-cc a,
.gm-style .gm-style-mtc div {
    font-size: 10px
}

@media print {
    .gm-style .gmnoprint,
    .gmnoprint {
        display: none
    }
}

@media screen {
    .gm-style .gmnoscreen,
    .gmnoscreen {
        display: none
    }
}

.gm-style {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none
}

.gm-style img {
    max-width: none
}

.gm-style-iw {
    max-height: 150px;
    max-width: 400px;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.9;
    background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

/* Mobile, grid */
@media only screen and (max-width: 640px) {

    .js-search-results {
    width: 100%;
  }

  #map {
    display: none;
  }
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;

  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }

}