* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header {
    height: auto;
    margin-top: 0px;
    position: absolute;
    z-index: 1;
    width: 100%;
    /*background: #981115;*/
    /*opacity: .8;*/
    border-bottom: 3px solid gray;
}

.new-search {
    position: absolute;
    z-index: 1;
    height: 50px;
    width: 100%;
    /*background: #981115;*/
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/club-3.jpeg');
    /*opacity: .8;*/
    margin: 0 auto;
    border-bottom: 3px solid gray;
}

.logo {
    display: inline-block;
    height: 100%;
    float: left;
    margin-left: 20px;
    margin-top: 6px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 2px black;
}

.new-search-button {
    /*margin-left: -230px;*/
    float: right;
    margin-right: 20px;
    margin-top: 3px;
    height: 90%;
    background-color: white;
    color: #981115;
    font-family: 'Roboto', sans-serif;
    /*border: 3px solid gray;*/
    border-radius: 10px;
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    /*padding-top: 47px;*/
    /*background: #981115;*/
    background: white;
}

.landing {
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/club-3.jpeg');
    /*border-left: 3px solid gray;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    border-top: 3px solid gray;*/
}

.landing > h1 {
    /*color: #981115;*/
    color: white;
    font-size: 70px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;
    margin-top: 75px;
    margin-bottom: 5px;
}

#map {
    padding-top: 47px;
    height: 100%;
    width: 67%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /*border: 3px solid gray;*/
}

.search-section {
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 300px;
    margin: 0% auto 0;
    padding: 10px;
    /*background: white;*/
    color: #981115;
    height: auto;
    opacity: .9;
    /*border: 10px solid #981115;*/
    border-radius: 10px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

h2 {
    font-size: 25px;
}

.js-search-form {
    /*background: #981115;*/
    margin: 0 auto;
    margin-top: 35px;
}

label {
    display: block;
    margin-bottom: -10px;
    font-size: 20px;
}

input {
    margin: 1px;
    border: 1px solid #981115;
    width: 85%;
    height: 30px;

}

input[type="text"] {
    padding-left: 6px;
}


.search-button {
    margin: 10px;
    background: white;
    color: #981115;
    font-weight: bold;
    border: 3px solid #981115;
}

.search-button:hover,
.new-search-button:hover {
    box-shadow: 2px 2px 5px black;
}

.search-button:active,
.new-search-button:active {
    transform: translateY(1px);
}

.js-search-results {
    position: relative;
    display: inline-block;
    padding-top: 47px;
    padding-right: 3px;
    /*margin-top: 47px;*/
    /*margin-top: 47px;*/
    z-index: 0;
    height: 100%;
    color: black;
    background: white;
    opacity: .8;
    border: 3px solid gray;
    width: 33%;
    overflow: auto;
    float: right;
}

.js-search-results li {
    padding: 10px 0;
    border-bottom: 2px gray solid;
    list-style: none;
    text-align: center;
}

.list-left {
    /*float: left;*/
    display: inline-block;
    width: 20%;
    height: 100%;
}

.list-left img {
    width: 100%;
    padding: 3px;
    border: 1px #ccc solid;
}

.list-right {
    display: inline-block;
    /*float: right;*/
    width: 78%;
    padding: 3px;
}

.selected {
    background-color: blue;
}

.hide {
    display: none;
}


/*
.gm-style .gm-style-mtc label,
.gm-style .gm-style-mtc div {
    font-weight: 400
}

.gm-style .gm-style-cc span,
.gm-style .gm-style-cc a,
.gm-style .gm-style-mtc div {
    font-size: 10px
}

.gm-style {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none
}

.gm-style img {
    max-width: none
}

.gm-style-iw {
    max-height: 150px;
    max-width: 400px;
    overflow: scroll;
}
*/

@media print {
    .gm-style .gmnoprint,
    .gmnoprint {
        display: none
    }
}

@media screen {
    .gm-style .gmnoscreen,
    .gmnoscreen {
        display: none
    }
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.9;
    background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}


/* Mobile, grid */

@media only screen and (max-width: 640px) {
    .landing > h1 {
        font-size: 55px;
        letter-spacing: 2px;
    }
    #map {
        padding-top: 0px;
        z-index: 1;
        width: 100%;
        height: 40%;
        display: none;
        position: static;
    }
    .js-search-results {
        width: 100%;
        /*height: 60%;*/
        height: 100%;
        display: none;
        position: static;
    }
}


/* Non-mobile, grid */

@media only screen and (min-width: 640px) {
    /* 3 columns, 3/12 in % */
    .col-3 {
        width: 25%;
    }
    /* 4 columns */
    .col-4 {
        width: 33%;
    }
    /* 6 columns */
    .col-6 {
        width: 50%;
    }
    /* 12 columns */
    .col-12 {
        width: 100%;
    }
}
